.sheet-content-cv-work {
  display: flex;
  flex-flow: column;
  gap: var(--spacer-1);
}

.sheet-content-cv-work-item {
  display: flex;
  gap: var(--spacer-sm-3);
}

.sheet-content-cv-work-item-left {
  width: 22mm;
  flex-shrink: 0;
}

.sheet-content-cv-work-item-logo {
  height: 40px;
  border-radius: 3px;
}

.sheet-content-cv-work-item-right {
  flex: 1;
  margin: auto 0;
}

.sheet-content-cv-work-item-title {
  font-weight: bold;
}

.sheet-content-cv-work-item-place {}

.sheet-content-cv-work-item-additional {
  font-size: var(--font-size-xs);
}

.sheet-content-cv-work-item-location {
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
}

.sheet-content-cv-work-item-year {
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
}

.sheet-content-cv-work-item-link {
  font-size: var(--font-size-xs);
}

.sheet-content-cv-work-item-content {
  font-size: var(--font-size-sm);

  ::v-deep ul {
    margin-bottom: 0;
  }
}
