.sheet-content-cv-ossw {
  padding-top: var(--spacer-sm-3);
  display: flex;
  flex-flow: column;
  gap: var(--spacer-sm-3);
}

.sheet-content-cv-ossw-item {
  display: flex;
  flex-flow: column;
  gap: var(--spacer-sm-2);
}

.sheet-content-cv-ossw-item-header {
  display: flex;
  align-items: center;
  gap: var(--spacer-sm-2);
}

.sheet-content-cv-ossw-item-description {
  color: var(--text-color-secondary);
  font-size: var(--font-size-sm);
}

.sheet-content-cv-ossw-more {
  font-size: var(--font-size-xs);
}
